@model Item

@{
    ViewData["Title"] = "Update Item";
    Layout = "_Layout";
}

<div class="main-container max-w-full lg:max-w-[2000px] mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center">
    <div class="kontainer w-full max-w-[1400px] flex justify-center items-center min-h-[10vh]">
        <div class="text-center w-full mx-auto">
            <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-6xl font-medium tracking-tight gradient-text-large mb-4" data-aos="fade-up">
                <span class="gradient-text underline pr-2 font-extrabold">Update</span> Food Item
            </h1>
            <p class="text-md font-light text-gray-500 mt-6" data-aos="fade-up" data-aos-delay="100">
                Keep our database accurate by updating nutritional information.
            </p>
        </div>
    </div>

    <div class="content-section max-w-[1800px] my-12 px-5 flex flex-col justify-between items-center w-full">
        <form asp-action="Update" method="post" enctype="multipart/form-data" class="w-full max-w-5xl bg-white border border-slate-200 dark:bg-[#1d1d1f] dark:border-[#303030d5] rounded-lg shadow-lg p-8" data-aos="fade-up" data-aos-delay="200">
            <div asp-validation-summary="All" class="text-red-500 mb-4"></div>
            <input type="hidden" asp-for="ItemId" />

            <div class="grid grid-cols-1 md:grid-cols-2 gap-40">
                <!-- Basic Information Section -->
                <div class="space-y-4">
                    <h2 class="text-2xl font-semibold mb-4">Basic Information</h2>
                    
                    <div>
                        <label asp-for="Name" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Name</label>
                        <input asp-for="Name" class="mt-1 p-2 block w-full rounded-lg border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-30" />
                        <span asp-validation-for="Name" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label asp-for="ProducerName" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Producer</label>
                        <input asp-for="ProducerName" class="mt-1 p-2 block w-full rounded-lg border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-30" />
                        <span asp-validation-for="ProducerName" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label asp-for="ItemCategoryId" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Category</label>
                        <select asp-for="ItemCategoryId" asp-items="ViewBag.Categories" class="mt-1 p-2 block w-full rounded-md border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                            <option value="">-- Select a Category --</option>
                        </select>
                        <span asp-validation-for="ItemCategoryId" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label asp-for="Description" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Description</label>
                        <textarea asp-for="Description" rows="8" class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-2"></textarea>
                        <span asp-validation-for="Description" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label for="ImagePath" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Image</label>
                        <div class="mt-1 flex items-center">
                            @if (!string.IsNullOrEmpty(Model.ImagePath))
                            {
                                <img src="@Model.ImagePath" alt="Current Image" class="w-20 h-20 object-cover mr-4 rounded-md" />
                            }
                            <input type="hidden" asp-for="ImagePath" />
                            <input type="file" id="NewImage" name="NewImage" accept="image/*" class="hidden" onchange="showFileName(this)" />
                            <label for="NewImage" class="cursor-pointer bg-white py-2 px-3 border border-gray-300 rounded-full shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Choose new file
                            </label>
                            <span id="fileName" class="ml-3 text-sm text-gray-500"></span>
                        </div>
                    </div>

                </div>

                <!-- Nutritional Information Section -->
                <div class="space-y-4">
                    <h2 class="text-2xl font-semibold mb-4">Nutritional Information (per 100g)</h2>
                    
                    <div>
                        <label asp-for="Energy" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Energy</label>
                        <input asp-for="Energy" type="number" step="0.01" class="mt-1 p-2 block w-full rounded-md border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                        <span asp-validation-for="Energy" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label asp-for="TotalFat" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Total Fat</label>
                        <input asp-for="TotalFat" type="number" step="0.01" class="mt-1 p-2 block w-full rounded-md border dark:bg-[#444447] dark:border-[#5e5e5ed5] border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                        <span asp-validation-for="TotalFat" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label asp-for="SaturatedFat" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Saturated Fat</label>
                        <input asp-for="SaturatedFat" type="number" step="0.01" class="mt-1 p-2 block w-full rounded-md border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                        <span asp-validation-for="SaturatedFat" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label asp-for="UnsaturatedFat" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Unsaturated Fat</label>
                        <input asp-for="UnsaturatedFat" type="number" step="0.01" class="mt-1 p-2 block w-full rounded-md border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                        <span asp-validation-for="UnsaturatedFat" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label asp-for="Carbohydrate" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Carbohydrate</label>
                        <input asp-for="Carbohydrate" type="number" step="0.01" class="mt-1 p-2 block w-full rounded-md border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                        <span asp-validation-for="Carbohydrate" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label asp-for="Sugar" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Sugar</label>
                        <input asp-for="Sugar" type="number" step="0.01" class="mt-1 p-2 block w-full rounded-md border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                        <span asp-validation-for="Sugar" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label asp-for="DietaryFiber" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Dietary Fiber</label>
                        <input asp-for="DietaryFiber" type="number" step="0.01" class="mt-1 p-2 block w-full rounded-md border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                        <span asp-validation-for="DietaryFiber" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label asp-for="Protein" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Protein</label>
                        <input asp-for="Protein" type="number" step="0.01" class="mt-1 p-2 block w-full rounded-md border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                        <span asp-validation-for="Protein" class="text-red-500 text-sm"></span>
                    </div>

                    <div>
                        <label asp-for="Salt" class="block text-sm font-medium text-gray-700 dark:text-slate-300">Salt</label>
                        <input asp-for="Salt" type="number" step="0.01" class="mt-1 p-2 block w-full rounded-md border border-gray-300 shadow-sm dark:bg-[#444447] dark:border-[#5e5e5ed5] focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                        <span asp-validation-for="Salt" class="text-red-500 text-sm"></span>
                    </div>
                </div>
            </div>

            <!-- Form buttons -->
            <div class="flex justify-end space-x-3 mt-8">
                <a asp-action="Table" asp-controller="Item" class="px-6 py-3 bg-gray-300 text-gray-700 rounded-full hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 transition-colors">Cancel</a>
                <button type="submit" class="px-6 py-3 bg-gray-800 text-white rounded-full hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition-colors">Update Item</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function showFileName(input) {
            var fileName = input.files[0].name;
            document.getElementById('fileName').textContent = fileName;
        }
    </script>
}
