@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<div class="main-container max-w-[1800px] mx-auto px-5 flex flex-col items-center">
    <div class="kontainer max-w-[1400px] flex justify-center items-center h-[70vh]">
        <div class="text-center w-[60vw] mx-auto">
            <h1 class="text-5xl font-bold tracking-tight gradient-text-large" data-aos="fade-up">
                Find out what´s <span class="gradient-text">actually</span> in the food you eat
            </h1>        
            <div class="search-container mt-8" data-aos="fade-up" data-aos-delay="200">
                <form asp-controller="Search" asp-action="Index" method="get" class="form-hero flex flex-row justify-center items-center">
                    <input type="text" class="search-input" name="query" placeholder="Search for your favourite food..">
                    <button type="submit" class="search-button">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="partners-section flex flex-col w-full justify-around items-center my-12 py-12 bg-[#F6F6F6]">
        <h3 class="partners-text text-black text-3xl font-semibold" data-aos="fade-up">Our Partners</h3>
        <div class="logos-container flex w-[50vw] min-w-[1000px] justify-around items-center my-12">
            <img src="/images/logos/orkla_logo.png" alt="Orkla" class="logo-partner w-[100px] invert" data-aos="fade-up" data-aos-delay="50">
            <img src="/images/logos/synnove-1.svg" alt="Synnove" class="logo-partner w-[100px]" data-aos="fade-up" data-aos-delay="100">
            <img src="/images/logos/tinelogo.png" alt="Tine" class="logo-partner w-[100px] invert" data-aos="fade-up" data-aos-delay="150">
            <img src="/images/logos/kavlilogo.png" alt="Kavli" class="logo-partner w-[100px]" data-aos="fade-up" data-aos-delay="200">
        </div>
    </div>

    <div class="content-section max-w-[1800px] my-12 px-5 flex flex-col justify-between items-center flex-1">
        <div class="image-text-container flex flex-1 items-center mb-24 justify-center w-full">
            <img src="../images/Illustrations/chef-phone.png" alt="Food Image 1" class="content-image max-w-[50%] h-auto rounded-2xl tilt-element">
            <div class="content-text max-w-[50%] px-8" data-aos="fade-left" data-aos-delay="50">
                <h2 class="image-header text-6xl font-bold mb-5"><span class="gradient-text">Delicious</span> Recipes</h2>
                <p class="text-lg">Discover a world of flavors with our curated collection of recipes from around the globe. <br>
                Accessible from your phone.</p>
            </div>
        </div>
        
        <div class="image-text-container reverse flex flex-1 items-center mb-24 justify-center w-full flex-row-reverse">
            <img src="../images/Illustrations/supplements.png" alt="Food Image 2" class="content-image max-w-[50%] h-auto rounded-2xl tilt-element">
            <div class="content-text max-w-[50%] px-8" data-aos="fade-right" data-aos-delay="50">
                <h2 class="image-header text-6xl font-bold mb-5"><span class="gradient-text">Fresh</span> Ingredients</h2>
                <p class="text-lg">Make sure you fuel your body with what <span class="gradient-text">YOU</span> need, not what looks the best on the shelf. Learn about the best ingredients to use and where to find them for your culinary adventures.</p>
            </div>
        </div>
    </div>

    <div class="all-stats-container flex flex-col items-center my-48 py-24 bg-[#f5f5f7] w-screen">
    <div class="stats-container flex flex-wrap max-w-[1200px] w-full mx-auto px-5 gap-4">
        <div class="stat-box flex-1 basis-[calc(25%-1rem)] min-w-[200px] p-4" data-aos="zoom-in" data-aos-delay="100">
            <h3 class="text-4xl font-extrabold mb-2 gradient-text">200+</h3>
            <p class="text-gray-600">Recipes</p>
        </div>
        <div class="stat-box flex-1 basis-[calc(25%-1rem)] min-w-[200px] p-4" data-aos="zoom-in" data-aos-delay="200">
            <h3 class="text-4xl font-extrabold mb-2 gradient-text">1st place</h3>
            <p class="text-gray-600">User Choice Award</p>
        </div>
        <div class="stat-box flex-1 basis-[calc(25%-1rem)] min-w-[200px] p-4" data-aos="zoom-in" data-aos-delay="300">
            <h3 class="text-4xl font-extrabold mb-2 gradient-text">15<sup>+</sup></h3>
            <p class="text-gray-600">Cuisines</p>
        </div>
        <div class="stat-box flex-1 basis-[calc(25%-1rem)] min-w-[200px] p-4" data-aos="zoom-in" data-aos-delay="400">
            <h3 class="text-4xl font-extrabold mb-2 gradient-text">100%</h3>
            <p class="text-gray-600">Transparency</p>
        </div>
        <div class="stat-box flex-1 basis-[calc(50%-1rem)] min-w-[300px] p-4" data-aos="zoom-in" data-aos-delay="500">
            <h3 class="text-4xl font-extrabold mb-2 gradient-text">50+</h3>
            <p class="text-gray-600">Food producers</p>
        </div>
        <div class="stat-box flex-1 basis-[calc(50%-1rem)] min-w-[300px] p-4" data-aos="zoom-in" data-aos-delay="600">
            <h3 class="text-4xl font-extrabold mb-2 gradient-text">All Foods</h3>
            <p class="text-gray-600">are thoroughly tested and inspected</p>
        </div>
    </div>
</div>
</div>

<script src="~/js/vanilla-tilt.js"></script>

<script>
  VanillaTilt.init(document.querySelectorAll(".tilt-element"), {
    max: 15,
    speed: 300
  });
</script>
