@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";

}



<div class="main-container">
    <div class="kontainer">
        <div class="text-center">
            <h1 class="display-4 gradient-text-large" data-aos="fade-up">
                Welcome to <span class="gradient-text">Foodhub!</span>
            </h1>        
            <div class="search-container" data-aos="fade-up" data-aos-delay="200">
                <form asp-controller="Search" asp-action="Index" method="get" class="form-hero">
                    <input type="text" class="search-input" name="query" placeholder="Search for your favourite food..">
                    <button type="submit" class="search-button">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="black-section">
        <h3 class="partners-text" data-aos="fade-up">Our Partners</h3>
        <div class="logos-container">
            <img src="/images/logos/orkla_logo.png" alt="Kavli" class="logo-partner" data-aos="fade-up" data-aos-delay="50">
            <img src="/images/logos/synnove-1.svg" alt="Kavli" class="logo-partner" data-aos="fade-up" data-aos-delay="100">
            <img src="/images/logos/tinelogo.png" alt="Kavli" class="logo-partner" data-aos="fade-up" data-aos-delay="150">
            <img src="/images/logos/kavlilogo.png" alt="Kavli" class="logo-partner" data-aos="fade-up" data-aos-delay="200">
        </div>
    </div>
    <div class="content-section">
        <div class="image-text-container">
            <img src="../images/Illustrations/chef-phone.png" alt="Food Image 1" class="content-image tilt-element" >
            <div class="content-text" data-aos="fade-left" data-aos-delay="50">
                <h2 class="image-header"><span class="gradient-text">Delicious</span> Recipes</h2>
                <p>Discover a world of flavors with our curated collection of recipes from around the globe. <br>
                Accessible from your phone.</p>
            </div>
        </div>
        
        <div class="image-text-container reverse">
            <img src="../images/Illustrations/supplements.png" alt="Food Image 2" class="content-image tilt-element">
            <div class="content-text" data-aos="fade-right" data-aos-delay="50">
                <h2 class="image-header"><span class="gradient-text">Fresh</span> Ingredients</h2>
                <p>Make sure you fuel your body with what <span class="gradient-text">YOU</span> need, not what looks the best on the shelf. Learn about the best ingredients to use and where to find them for your culinary adventures.</p>
            </div>
        </div>
    </div>

    <div class="all-stats-container">
        <div class="stats-container">
            <div class="stat-box" data-aos="zoom-in" data-aos-delay="100">
                <h3>200+</h3>
                <p>Recipes</p>
            </div>
            <div class="stat-box" data-aos="zoom-in" data-aos-delay="200">
                <h3>1st place</h3>
                <p>User Choice Award</p>
            </div>
            <div class="stat-box" data-aos="zoom-in" data-aos-delay="300">
                <h3>15<sup>+</sup></h3>
                <p>Cuisines</p>
            </div>
            <div class="stat-box" data-aos="zoom-in" data-aos-delay="400">
                <h3>100%</h3>
                <p>Transparancy</p>
            </div>
        </div>
        <div class="stats-container">
            <div class="stat-box" data-aos="zoom-in" data-aos-delay="500">
                <h3>50+</h3>
                <p>Food producers</p>
            </div>
            <div class="stat-box" data-aos="zoom-in" data-aos-delay="600">
                <h3>All Foods</h3>
                <p>are thoroughly tested and inspected </p>
            </div>

        </div>
    </div>
</div>
<script src="~/js/vanilla-tilt.js"></script>

<script>
  VanillaTilt.init(document.querySelectorAll(".tilt-element"), {
    max: 15,
    speed: 300
  });
</script>
