/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* Define font family for different weights */
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-Black.woff2") format("woff2");
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-ExtraBold.woff2") format("woff2");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-ExtraLight.woff2") format("woff2");
  font-weight: 200; /* ExtraLight */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-Light.woff2") format("woff2");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-SemiBold.woff2") format("woff2");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-Thin.woff2") format("woff2");
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-[wght].woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#bootstrap-override body,
#bootstrap-override .container,
#bootstrap-override .navbar {
  font-family: "Geist", sans-serif !important;
}

html,
body {
  height: 100vh;
}

h1 {
  font-weight: 600 !important;
  letter-spacing: -0.05em !important;
  font-size: 7rem !important;
}

h2 {
  font-size: 5rem !important;
}

h3 {
  font-weight: 700 !important;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  /* background-color: #e7ffee; */
  display: flex;
  flex-direction: column;
  margin-top: 156px;
  font-family: "Geist";
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.main-container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kontainer,
.content-section,
.stats-container {
  width: 100%;
  margin: 50px 0;
  padding: 0;
}

:root {
  --gradient-colors: 45deg, #38A1FF, #10e3ff;
}

.text-center h1.gradient-text-large {
  font-weight: 700;
  font-size: 80px;
  font-family: "Geist", sans-serif !important;
  letter-spacing: -2px;
  color: black;
}

.gradient-text {
  background: -webkit-linear-gradient(var(--gradient-colors));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #30a8bc; /* Fallback color */
  display: inline-block; /* This is important */
  font-weight: 700;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Override Bootstrap styles and add custom styles */
.table-container {
  background-color: #f5f5f7;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid rgba(80, 80, 80, 0.125) !important;
}

.modern-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.modern-table.table {
  margin-bottom: 0;
}

.modern-table th,
.modern-table td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
  vertical-align: middle;
}

.modern-table thead th {
  background-color: #f8f8f8;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
  border-bottom: 2px solid #e0e0e0;
}

.modern-table tbody tr:last-child td {
  border-bottom: none;
}

.modern-table tbody tr:hover {
  background-color: #f5f5f5;
}

.modern-table .item-image {
  max-width: 80px;
  max-height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.modern-table .action-link {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  background-color: #007aff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 80px;
  text-align: center;
}

.modern-table .action-link:hover {
  background-color: #0056b3;
  color: white;
  text-decoration: none;
}

.modern-table .item-link {
  color: #007aff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.modern-table .item-link:hover {
  color: #0056b3;
  text-decoration: none;
}

.create-btn {
  background-color: #34c759;
  border: none;
  transition: background-color 0.3s ease;
}

.create-btn:hover {
  background-color: #2aa147;
}

.text-center {
  width: 50vw;
  margin: 0 auto;
}

.kontainer {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-container {
  margin: 30px auto;
}

.search-input {
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-right: 0;
  border-radius: 30px 0 0 30px;
  outline: none;
  width: 25vw;
  cursor: pointer !important;
  box-shadow: 20px 20px 60px #c5c5c580, -20px -20px 60px #ffffff5a;
}

.search-input::before {
  cursor: text;
}

.search-button {
  padding: 15px;
  font-size: 16px;
  background-image: linear-gradient(
    45deg,
    hsl(208deg 100% 61%) 4%,
    hsl(200deg 100% 50%) 34%,
    hsl(197deg 100% 49%) 48%,
    hsl(194deg 100% 47%) 60%,
    hsl(191deg 100% 46%) 73%,
    hsl(187deg 100% 44%) 100%
  );
  color: white;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 30px 30px 0;
  cursor: text;
  transition: all .5s ease;
  width: 20%;
  cursor: pointer !important;
  box-shadow: 20px 20px 60px #c5c5c56f, -20px -20px 60px #ffffff79;
}

.search-button:hover {
  font-size: 20px;
}

.black-section {
  flex-direction: column;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  padding: 50px 0;
  background-color: #151515;
  border-radius: 100px 100px 0 0;
}

.logos-container {
  display: flex;
  width: 50vw;
  min-width: 1000px;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

.partners-text {
  color: white !important;
  font-size: 2rem;
  font-weight: 600;
}

.logo-partner {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section {
  max-width: 1800px;
  margin: 50px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.image-text-container {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 100px;
  justify-content: center;
  width: 100%;
}

.image-text-container.reverse {
  flex-direction: row-reverse;
}

.content-image {
  max-width: 50%;
  height: auto;
  border-radius: 20px;
}

.content-text {
  max-width: 50%;
  padding: 0 30px;
}

.image-header {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.all-stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 200px 0;
  padding: 100px 0;
  background-color: #38A1FF;
  width: 100vw;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.stat-box {
  background-color: #fff;
  border: 1px solid #69696922;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 20px 20px 60px #c5c5c51a, -20px -20px 60px #ffffff60;
  flex: 1 1 calc(25% - 20px);
  max-width: 100%;
  transition: all 0.1s ease-in-out;
}

.stat-box:hover {
  transform: scale(1.05) rotate(1deg);
}

.stat-box h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 800;
  background: -webkit-linear-gradient(var(--gradient-colors));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stat-box p {
  font-size: 1rem;
  color: #666;
}

.dark-footer {
  background-color: #151515; /* Very dark gray, almost black */
  color: #fff;
  padding: 40px 20px 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  bottom: 0;
  flex-shrink: 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #333;
}

@media (max-width: 768px) {
  .image-text-container,
  .image-text-container.right,
  .logos-container,
  .image-text-container.reverse {
    flex-direction: column;
  }

  h1 {
    font-size: 4rem !important;
  }

  h2 {
    font-size: 3rem !important;
  }

  .text-center {
    width: 80vw;
  }

  .content-image,
  .content-text {
    max-width: 80%;
  }

  .content-text {
    padding: 20px 0;
  }

  .stat-box {
    flex: 1 1 calc(50% - 20px);
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 30px;
  }

  .search-container {
    width: 100%;
  }

  .search-button {
    width: 30%;
    box-sizing: border-box; /* Ensure padding is included in width */
    flex: 0 0 auto; /* Button takes up fixed size */
    font-size: 10px;
  }

  .search-input {
    flex: 1; /* Input takes up available space */
    width: 70%;
    box-sizing: border-box; /* Ensure padding is included in width */
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .stat-box {
    flex: 1 1 100%;
  }
}
