@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1 class="text-3xl font-bold">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
