@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="text-3xl font-bold">@ViewData["Title"]</h1>
<p class="mt-4 text-lg">
    Please check your email to reset your password.
</p>
