@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-3xl font-bold text-red-600">@ViewData["Title"]</h1>
    <p class="mt-2 text-red-600">This account has been locked out, please try again later.</p>
</header>
