@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4 relative user-menu-container">
            <div class="flex items-center cursor-pointer user-menu-button">
                <img src="/images/Icons/user-icon.png" alt="user icon" class="w-7 dark:invert transition-all duration-200 ease-in-out hover:drop-shadow-[0_0_25px_rgba(255,255,255,0.3)]" />
                <img src="/images/Icons/arrow.png" alt="arrow pointing down icon" class="ml-2 dark:invert w-4" />
            </div>
            
            <div class="sub-menu-wrap absolute top-full right-0 w-72 overflow-hidden max-h-0 opacity-0 transition-all duration-500 ease-out user-menu-dropdown" id="subMenu">
                <div class="sub-menu bg-white dark:bg-[#1d1d1f] p-5 m-2.5 rounded-lg border dark:border-[#303030d5]">
                    <div class="user-info flex items-center text-lg font-bold overflow-hidden">
                        👋🏻 Hei @UserManager.GetUserName(User)!
                    </div>
                    <hr class="my-3">
                    <a asp-controller="Item" asp-action="Table" class="flex items-center justify-between no-underline text-gray-700 dark:text-slate-200 dark:hover:text-[#38a1ff] my-3 hover:text-[#38a1ff] hover:translate-x-1 transition-all duration-200 ease-in-out">
                        <div class="flex items-center">
                            <img src="/images/Icons/edit.png" alt="edit icon" class="mr-4 w-5 h-5 dark:invert">
                            <span>Edit Items</span>
                        </div>
                        <span class="text-slate-400">></span>
                    </a>
                    <a asp-controller="Item" asp-action="Create" class="flex items-center justify-between no-underline text-gray-700 dark:text-slate-200 dark:hover:text-[#38a1ff] my-3 hover:text-[#38a1ff] hover:translate-x-1 transition-all duration-200 ease-in-out">
                        <div class="flex items-center">
                            <img src="/images/Icons/create.png" alt="create icon" class="mr-4 w-5 h-5 dark:invert">
                            <span>Create Item</span>
                        </div>
                        <span class="text-slate-400">></span>
                    </a>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="flex items-center justify-between no-underline text-gray-700 dark:text-slate-200 dark:hover:text-[#38a1ff] my-3 hover:text-[#38a1ff] hover:translate-x-1 transition-all duration-200 ease-in-out">
                        <div class="flex items-center">
                            <img src="/images/Icons/settings.png" alt="settings icon" class="mr-4 w-5 h-5 dark:invert">
                            <span>Settings</span>
                        </div>
                        <span class="text-slate-400">></span>
                    </a>
                    <form id="logoutForm" class="flex items-center justify-between no-underline text-gray-700 dark:text-slate-200 dark:hover:text-[#38a1ff] my-3 hover:text-[#38a1ff] hover:translate-x-1 transition-all duration-200 ease-in-out" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="flex items-center w-full text-left text-gray-700 hover:text-[#38a1ff] dark:hover:text-[#38a1ff] bg-transparent border-0 p-0 dark:text-slate-200">
                            <img src="/images/Icons/logout.png" alt="log out icon" class="mr-4 w-5 h-5 dark:invert">
                            <span>Logout</span>
                        </button>
                        <span class="text-slate-400">></span>
                    </form>
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4">
            <div>
                <a class="text-gray-900 hover:text-[#38a1ff] hover:-translate-y-1 hover:drop-shadow-[0_0_15px_rgba(255,255,255,0.8)] font-medium cursor-pointer inline-block transition-all duration-100 ease-in-out dark:text-slate-200" id="register" asp-area="Identity" asp-page="/Account/Register">
                    Register
                </a>
            </div>
            <div>
                <a class="text-gray-900 hover:text-[#38a1ff] hover:-translate-y-1 hover:drop-shadow-[0_0_15px_rgba(255,255,255,0.8)] font-medium cursor-pointer inline-block transition-all duration-100 ease-in-out dark:text-slate-200" id="login" asp-area="Identity" asp-page="/Account/Login">
                    Login
                </a>
            </div>
        </li>
    }
</ul>



<script>
    let subMenu = document.getElementById('subMenu');
    let isMenuOpen = false;

    function toggleMenu() {
        isMenuOpen = !isMenuOpen;
        if (isMenuOpen) {
            subMenu.style.maxHeight = '400px';
            subMenu.style.opacity = '1';
        } else {
            subMenu.style.maxHeight = '0';
            subMenu.style.opacity = '0';
        }
    }

    // Close the menu when clicking outside
    document.addEventListener('click', function(event) {
        const isClickInside = subMenu.contains(event.target) || event.target.matches('img[onclick="toggleMenu()"]');
        if (!isClickInside && isMenuOpen) {
            toggleMenu();
        }
    });
</script>
