@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="flex flex-row items-center space-x-4">
    @* Check if the user is signed in *@
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            @* Display a link to manage account with a greeting *@
            <a id="manage" class="text-gray-700 hover:text-gray-900 dark:text-slate-200" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img src="/images/Icons/user-icon.png" class="w-7" />
            </a>
        </li>
        <li>
            @* Form to log out the user *@
            <form id="logoutForm" class="inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="text-blue-600 hover:text-[#38a1ff] bg-transparent border-0 p-0 dark:text-slate-200">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li>
            @* Link to the registration page *@
            <a class="text-gray-900 hover:text-[#38a1ff] hover:-translate-y-1 hover:drop-shadow-[0_0_15px_rgba(255,255,255,0.8)] font-medium cursor-pointer inline-block transition-all duration-100 ease-in-out dark:text-slate-200" id="register" asp-area="Identity" asp-page="/Account/Register">
                Register
            </a>
        </li>
        <li>
            @* Link to the login page *@
            <a class="text-gray-900 hover:text-[#38a1ff] hover:-translate-y-1 hover:drop-shadow-[0_0_15px_rgba(255,255,255,0.8)] font-medium cursor-pointer inline-block transition-all duration-100 ease-in-out dark:text-slate-200" id="login" asp-area="Identity" asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>
